<h1>Rock, Paper, Scissors! - Instructions</h1>
    <p>This site implements the "Rock, Paper, Scissors" game, programmed in Ruby on Rails by Katie Soto.<br />
    The game is played as follows:<br />
    <ol><li>Choose your move by going to oursite.com/<strong>throw/<em>your_move</em></strong>. Acceptable moves are <a href='/throw/rock'>rock</a>, <a href='/throw/paper'>paper</a>, <a href='/throw/scissors'>scissors</a></li>
      <li>The computer will randomly choose it's move</li>
      <li>You will see whether you won, lost, or tied with the computer on that page</li>
    </ol>
    <br />
    <h2>Winners and Losers</h2>
    Scissors cuts Paper<br />
    Paper covers Rock<br />
    Rock crushes Scissors<br /><br />
    <strong><u>Start Throwing!</u></strong>