<h1>Clear history</h1>
<p>Looks like you've had a string of bad luck.<br />
Good news: <strong>your throw history has been cleared!</strong><br />
I wont tell anybody if you don't.</p>

<strong><u>Care to play again?</strong></u>
